<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="com.yulintu.thematic.data.sharding.ShardingBean">
        <property name="shards">
            <list>
                <bean class="com.yulintu.thematic.data.sharding.ShardElement">
                    <property name="provider" value="com.yulintu.thematic.data.hibernate.ProviderPersistenceImpl"/>
                    <property name="name" value="主库01"/>
                    <property name="group" value="分库0"/>
                    <property name="connectionString"
                              value="configure=datasources/spring.datasource.xml;type=spring"/>
                    <property name="properties">
                        <props>
                            <!--<prop key="*"/>-->
                            <prop key="zone">510102</prop>
                        </props>
                    </property>
                </bean>

                <!--分库-->
                <bean class="com.yulintu.thematic.data.sharding.ShardElement">
                    <property name="provider" value="com.yulintu.thematic.data.hibernate.ProviderPersistenceImpl"/>
                    <property name="name" value="分库00-0"/>
                    <property name="group" value="分库1"/>
                    <property name="connectionString"
                              value="configure=datasources/spring.datasource1.xml;type=spring"/>
                    <property name="properties">
                        <props>
                            <prop key="zone">5101</prop>
                        </props>
                    </property>
                </bean>
                <bean class="com.yulintu.thematic.data.sharding.ShardElement">
                    <property name="provider" value="com.yulintu.thematic.data.hibernate.ProviderPersistenceImpl"/>
                    <property name="name" value="分库00-1"/>
                    <property name="group" value="分库2"/>
                    <property name="connectionString"
                              value="configure=datasources/spring.datasource2.xml;type=spring"/>
                    <property name="properties">
                        <props>
                            <prop key="zone">5102</prop>
                        </props>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

</beans>